<% include _header %>
    <h1>Your projects</h1>
    <% if(user) { %>
        <div>
            <a href="/portfolio/new/<%= user.name() %>">Add projects</a>
        </div>
        <% } %>

            <% if(projects) { %>
                <% projects.forEach(function(project) { %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/project/<%= project._id %>"></a>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>


<% include _footer %>