<% include _header %>
    <h1>here will be added the projects i have</h1>
    <% if(projects) { %>
        <% projects.forEach(function(project) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= project.name() %>
                </div>
            </div>
        <% }) %>
        <% } else { %>
            <div> 
                <a href="addProject.ejs">Start Adding one</a>
            </div>
        <% } %>
<% include _footer %>