<% include _header %>

<h1>Sign up</h1>

<form action="/signup" method="post" enctype="multipart/form-data">
  <input name="first_name" type="text" class="form-control" placeholder="First Name" required autofocus>
  <input name="last_name" type="text" class="form-control" placeholder="Last Name" required autofocus>
  <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password" required>
  <input name="email" type="text" class="form-control" placeholder="Email" required>
  <input type="file" name="pic" accept="image/*">
  <input type="submit" value="Sign up" class="btn btn-primary btn-block">
</form>

<% include _footer %>